html{
 	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	background-image: url("https://static.vecteezy.com/system/resources/previews/000/106/719/original/vector-abstract-blue-wave-background.jpg");
	background-position: 0 -150px;

}

.title {
	height:130px;
	width:480px;
	left:100px;
	top:100px;
	background-image: url("https://secure.logitech.com/assets/41864/2/hd-pro-webcam-c920-feature-image.png");
	background-position: 30 -90px;

}

.container{
	position:relative;
	height:100%;
	width:100%;
}

#myBtn_0 {
	position:absolute;
	height:100px;
	width:100px;
	left:200px;
	top:300px;
	border: 50px solid #004d80;
    border-radius: 100px;
    overflow: hidden;
	font-size: 0px;

}

#myBtn_0:active {
	left:170px;
	top:270px;
	border: 80px solid #000f1a;
}

#myBtn_4 {
	position:absolute;
	height:50px;
	width:100px;
	left:200px;
	top:200px;
	border-top:0px solid transparent;
	border-left:50px solid transparent;
	border-right:50px solid transparent;
	border-bottom:50px solid #004d80;
	background-color: transparent;
	font-size: 0px;

}

#myBtn_4:active {
	top:170px;
	border-bottom:80px solid #000f1a;
}


#myBtn_5 {
	position:absolute;
	height:100px;
	width:50px;
	left:350px;
	top:300px;
	border-top:50px solid transparent;
	border-bottom:50px solid transparent;
	border-right:0px solid transparent;
	border-left:50px solid #004d80;
	background-color: transparent;
	font-size: 0px;

}

#myBtn_5:active {
	border-left:80px solid #000f1a;
}

#myBtn_6 {
	position:absolute;
	height:50px;
	width:100px;
	left:200px;
	top:450px;
	border-bottom:0px solid transparent;
	border-left:50px solid transparent;
	border-right:50px solid transparent;
	border-top:50px solid #004d80;
	background-color: transparent;
	font-size: 0px;

}

#myBtn_6:active {
	border-top:80px solid #000f1a;
}

#myBtn_7 {
	position:absolute;
	height:100px;
	width:50px;
	left:100px;
	top:300px;
	border-top:50px solid transparent;
	border-bottom:50px solid transparent;
	border-left:0px solid transparent;
	border-right:50px solid #004d80;
	background-color: transparent;
	font-size: 0px;

}

#myBtn_7:active {
	left:70px;
	border-right:80px solid #000f1a;
}


#myBtn_1 {
	position:absolute;
	height:110px;
	width:110px;
	left:75px;
	top:550px;
	font-size: 18px;
	border:1px solid #004d80;
	background-color: #004d80;
	color: white;

}

#myBtn_1:active {
	background-color: #000f1a;
	background-color: #000f1a;
}

#myBtn_2 {
	position:absolute;
	height:110px;
	width:110px;
	left:195px;
	top:550px;
	font-size: 18px;
	border:1px solid #004d80;
	background-color: #004d80;
	color: white;

}

#myBtn_2:active {
	background-color: #000f1a;
	background-color: #000f1a;
}

#myBtn_3 {
	position:absolute;
	height:110px;
	width:110px;
	left:315px;
	top:550px;
	font-size: 18px;
	border:1px solid #004d80;
	background-color: #004d80;
	color: white;

}

#myBtn_3:active {
	background-color: #000f1a;
	background-color: #000f1a;
}


#myBtn_8 {
	position:absolute;
	height:50px;
	width:150px;
	left:75px;
	top:700px;
	font-size: 18px;
	border:1px solid #004d80;
	background-color: #004d80;
	color: white;

}

#myBtn_8:active {
	background-color: #000f1a;
	background-color: #000f1a;
}

#myBtn_9 {
	position:absolute;
	height:50px;
	width:150px;
	left:275px;
	top:700px;
	font-size: 18px;
	border:1px solid #800000;
	background-color: #800000;
	color: white;

}

#myBtn_9:active {
	background-color: #4d0000;
	background-color: #4d0000;
}

